<%- include header %>
<div class="container">


<h2>Login</h2>

<% if(message) {  %>
  <%= message %>
<% }  %>

<form class=""  method="post" action="/users/login">
  <div class="input-group">
      <span class="input-group-addon">name</span><input type="text" name="name" class="form-control">
  </div>
  <div class="input-group">

  <span class="input-group-addon">password</span><input type="password" name="password" class="form-control">
</div>

  <button type="submit" name="button" class="btn btn-primary btn-block">Login</button>
</form>


<a href="/auth/github" class="btn btn-danger"><span class="fa fa-github"></span> Github</a>
</div>
<%- include footer %>
