<h2>Login</h2>

<% if(message) {  %>
  <%= message %>
<% }  %>

<form class=""  method="post">
  name: <input type="text" name="name"><br>
  password: <input type="password" name="password">
  <button type="submit" name="button">Login</button>
</form>


      <a href="/auth/github" class="btn btn-danger"><span class="fa fa-github"></span> Github</a>
