<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/user/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-github"></span> Github</h3>

                    <p>
                      <% if(user.github){  %>
                        <strong>id</strong>: <%= user.github.id %><br>
                        <strong>name</strong>: <%= user.github.username %><br>
                        <strong>email</strong>: <%= user.github.email %><br>
                        <strong>Github</strong>: <a href="<%= user.github.profile %>">GitHub</a>
                        <% }  %>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>
